@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@keyframes bellRing {
  0%,
  100% {
    transform-origin: top;
  }

  15% {
    transform: rotateZ(10deg);
  }

  30% {
    transform: rotateZ(-10deg);
  }

  45% {
    transform: rotateZ(5deg);
  }

  60% {
    transform: rotateZ(-5deg);
  }

  75% {
    transform: rotateZ(2deg);
  }
}

.bell-ring:hover {
  animation: bellRing 1s ease-in-out;
  transform-origin: top center;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}
.custom-vertical-scroll::-webkit-scrollbar-button {
  display: none;
}
.custom-vertical-scroll::-webkit-scrollbar-thumb {
  background-color: #D72638;
  border-radius: 10px;
}
.custom-vertical-scroll::-webkit-scrollbar-track {
  background: transparent;

}
.custom-vertical-scroll::-webkit-scrollbar {
  width:6px;
}